header {
  background: linear-gradient(#dc4a07, white);  
}
.logo{
  width: 40%;
}

p {
  font-size: 15px;
}

.btncontador {
color: aliceblue;
background-color: #dc4a07;
height: 30px;

}
footer{
  font-family: monospace;
  color: white;
 background-color: #dc4a07;
}

.btn{
  background-color: #dc4a07;
  color: white;
  width: max-content;
}
.producto{
  padding: 2%;
  margin: 4%;
  background-color: bisque;
  width: 60%;
}
.cajaBoton{
  display: flex;
  width: max-content;
  border: 2px solid #dc4a07;
  border-end-end-radius: 10%;
}

.precio, p, h4{
  font-family:'Times New Roman', Times, serif;
  font-size: 15px;
  
}

.subtotal{
font-weight: bold;
}

.counter{
  margin:10px;
  font-weight: bold;
}
/* Estilos para la estructura de la pantalla dividida */

.cajaProductos{
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
}

.cajaProductosSeleccionados{
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}



.producto, .seleccion {
  margin-bottom: 5px;
}

h1, h2, h3 {
  margin-top: 0;
  font-size: 20px;
}
h1{
  font-size: xx-large;
  font-family: cursive;
}
     